<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368948251096-tjkbur7eb4bk8lm7caomdfd4lltmp6m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368948251096-tjkbur7eb4bk8lm7caomdfd4lltmp6m3</string>
	<key>API_KEY</key>
	<string>AIzaSyBfamTWNiLVcyF_c1PjsJV6nP63SAFZOIw</string>
	<key>GCM_SENDER_ID</key>
	<string>368948251096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alekseinatalenko.goalzy</string>
	<key>PROJECT_ID</key>
	<string>goalzy-8c266</string>
	<key>STORAGE_BUCKET</key>
	<string>goalzy-8c266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368948251096:ios:70e36873167c6ae4facaad</string>
</dict>
</plist>